
<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<div layout:fragment="content" class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="card">
        <div class="card-header">회원가입</div>
        <div class="card-body">
          <form th:action="@{/member/join}" th:object="${memberForm}" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">아이디</label>
              <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="mb-3">
              <label for="nickname" class="form-label">닉네임</label>
              <input type="text" class="form-control" name="nickname" id="nickname">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">비밀번호</label>
              <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">email</label>
              <input type="email" class="form-control" name="email" id="email">
            </div>
            <button type="submit" class="btn btn-primary">회원가입</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</html>